name: Continuous Deployments

on: push 

jobs:
  tests: 
    name: Test 
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
      - name: Test 
        run: docker-compose run --rn app sh -c "python manage.py test"

 
  lint: 
    name: Lint 
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
      - name: Lint 
        run: docker-compose run --rn app sh -c "flake8"
